
input{
  height: 20px;
  width: 267px;
  margin-top:5px;
  margin-left: 5px;
  margin-bottom: 5px;
  text-shadow:0px 1px 0px #ffffff;
  text-align: right;
}

div.inline {
   float:left;
  }

.calculator-wraper{
  margin-top: 40px;
  margin-left: 470px;
  margin-right: 600px;
  background-color:#ededed;
  border-radius:4px;
  box-shadow:inset 0px 39px 0px -24px #ededed;
}

.calculator-buttons{

}

.button{
  height: 20px;
  width:20px;
}

.btn{
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  	background-color:#e4685d;
  	border-radius:4px;
  	border:1px solid #ffffff;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:15px;
  	padding:6px 15px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #b23e35;
}

.big-button{
  height: 20px;
  width: 76px;
}

.btn:hover{
  background-color: #bc3315;
  color: black;
}
/* .button {
	background-color:#e4685d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:32px 31px;
	text-decoration:none;
}
.button:hover {
	background-color:#eb675e;
}
.button:active {
	position:relative;
	top:1px;
} */




.buttons-container{

}

#calculating-display{
  height: 50px;
  width: 186px;
  margin:5px 5px 5px 5px;
  font-size:20px;
}
